.DS_Store
.idea/
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
__pycache__/
*.py[cod]
*.egg-info/
*.ipynb_checkpoints
*.log

artifacts/*
!artifacts/sample_outputs/
!artifacts/sample_outputs/.gitkeep

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

notebook_outputs/
plots/
